*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*
    background-image: url(https://i.postimg.cc/NF4gLBQk/photo-1480506132288-68f7705954bd.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    */
    background-color: #61677A;    
}

.landing{
    text-align: center;
    color: #272829;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    
}

.about{
    text-align: center;
    color: #fff6E0;
  
}

.edu{
    text-align: center;

}

.hschool{
    border: black solid 2px;
    border-radius: 40px;
    text-align: center;
}

.tschool{
    border: black solid 2px;
    border-radius: 40px;
    text-align: center;
}

.cschool{
    border: black solid 2px;
    border-radius: 40px;
    text-align: center;
}

#Skills{
    text-align: center;
}

#Ehtml{
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
    
}

#Ecss{
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
}

#Ebstrap{
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
}

#begin{
    border-bottom: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
}

.footer{
    text-align: center;
}
