*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Indie Flower', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#nav{
    background-color: #8693AB;
}

#navbtn:hover{
    color: #272829;
}

#logo{
    width: 100px;
}

#selfportrait{
    width: 250px;
    
}

body{
    /*
    background-image: url(https://i.postimg.cc/NF4gLBQk/photo-1480506132288-68f7705954bd.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    */
    background-color: #BDD4E7;    
}



.landing{
    text-align: center;
    color: #272829;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    
}

.text span{
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
    0%,
    100% {
        color: #637074;
        filter: blur(1px);
        text-shadow: 0 0 10px #637074,
         0 0 20px #637074,
         0 0 30px #637074,
         0 0 40px #637074,
         0 0 60px #637074,
         0 0 80px #637074,
         0 0 100px #637074; 
    }

    5%,
    95% {
        filter: blur(0);
        color: black;
        text-shadow: none;
    }
}

.about{
    text-align: center;
    color: #212227;
  
}

.edu{
    text-align: center;

}

.hschool{
    border: black solid 2px;
    border-radius: 40px;
    text-align: center;
}

.hschool:hover{
    background-color: #637074;
    color: #BDD4E7;
}

.tschool{
    border: black solid 2px;
    border-radius: 40px;
    text-align: center;
}
.tschool:hover{
    background-color: #637074;
    color: #BDD4E7;
}

.cschool{
    border: black solid 2px;
    border-radius: 40px;
    text-align: center;
}

.cschool:hover{
    background-color: #637074;
    color: #BDD4E7;
}

#Skills{
    text-align: center;
}

#Ehtml{
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
    
}

#Ecss{
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
}

#Ebstrap{
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
}

#begin{
    border-bottom: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 40px;
}

#Projects{
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}
.container1{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDD4E7;
}

.container1:hover > .card{
    transform: rotateY(180deg);
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1150ms;
    transform-style: preserve-3d;
}

.front, .back{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
}

.front{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #BDD4E7;
}

.back{
    background-image: url(https://i.postimg.cc/SKj7zcmp/Screenshot-2023-11-01-102604.png);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: end;
}

.visitbtn{
    width: 70px;
    margin-bottom: 10px;
    background-color: #637074; 
    margin: 5px;  
    border-radius: 20px;
}

.visitbtn a{
    color: #BDD4E7;
    text-decoration: none;
}

.container2{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDD4E7;
}

.container2:hover > .card{
    transform: rotateY(180deg);
}

.front2, .back2{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
}

.front2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #BDD4E7;
}

.back2{
    background-image: url(https://i.postimg.cc/ZYvPp0Rz/Screenshot-2023-11-01-105929.png);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: end;
}

.container3{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDD4E7;
}

.container3:hover > .card{
    transform: rotateY(180deg);
}

.front3, .back3{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
}

.front3{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #BDD4E7;
}

.back3{
    background-image: url(https://i.postimg.cc/nhYM6JCS/Screenshot-2023-11-01-115334.png);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: end;
}

.container4{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDD4E7;
}

.container4:hover > .card{
    transform: rotateY(180deg);
}

.front4, .back4{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
}

.front4{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #BDD4E7;
}

.back4{
    background-image: url(https://i.postimg.cc/bJf5mgy1/Screenshot-2023-11-01-123454.png);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: end;
}

.container5{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDD4E7;
}

.container5:hover > .card{
    transform: rotateY(180deg);
}

.front5, .back5{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
}

.front5{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #BDD4E7;
}

.back5{
    background-image: url(https://i.postimg.cc/HnnM0HF9/Screenshot-2023-11-03-095345.png);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: end;
}

#Testimonials{
    text-align: center;
}

#Contact{
    text-align: center;
}

input{
    text-align: center;
    border-radius: 40px;
    width: 50%;
    padding: 20px 20px;
    background-color: #637074;
    color: #BDD4E7;
}

input::placeholder{
    color: #BDD4E7;
}

#submit{
    width: 75px;
    border-radius: 40px;
    color: #BDD4E7;
    background-color: #637074;
}

#portrait1{
    width: 250px;
    height: 300px;
    border-radius: 40px;
}

#portrait2{
    width: 250px;
    height: 300px;
    border-radius: 40px;
}

#portrait3{
    width: 250px;
    height: 300px;
    border-radius: 40px;
}

#portrait4{
    width: 250px;
    height: 300px;
    border-radius: 40px;
}

#portrait5{
    width: 250px;
    height: 300px;
    border-radius: 40px;
}

#testcont{
    background-color: #637074;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 10vh;
    background-color: #8693AB;
}
